@model List<AssociadoModel>
@{
    ViewData["Title"] = "Listagem de Sócios";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Associados" asp-action="Criar">Adicionar novo Contato</a>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />
    <h1 class="display-4"> Listagem de Associados</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Placa</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (AssociadoModel associado in Model)
                {
                    <tr>
                        <th scope="row">@associado.Id</th>
                        <td>@associado.Nome</td>
                        <td>@associado.CPF</td>
                        <td>@associado.Placa</td>
                        <td>@associado.Endereco</td>
                        <td>@associado.Telefone</td>
                        <td>
                            <a role="button" class="btn btn-warning w-100" asp-route-id="@associado.Id" asp-controller="Associados" asp-action="Editar">Editar Endereço</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
